html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
}

input {
  outline: none;
}

i,
em {
  font-style: normal;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

body {
  font-size: 13px;
  font-family: "Microsoft Yahei";
  -webkit-text-size-adjust: 100%;
}

img,
select,
input,
label,
textarea {
  vertical-align: middle;
  resize: none
}
input,
textarea {
  font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
}

*,
:before,
:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box
}

img {
  border: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  text-decoration: none;
}

a.not-allowed {
  cursor: not-allowed;
}

a.cursor-text {
  cursor: text;
}

.clear {
  clear: both
}

.left {
  float: left;
}

.right {
  float: right;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.inline-block {
  display: inline-block;
}

.relative {
  position: relative;
}


.pd10 {
  padding-top: 0px;
}
.pd11 {
  padding-top: 5px;
}
.pd12 {
  padding-top: 10px;
}
.pd13 {
  padding-top: 15px;
}
.pd14 {
  padding-top: 20px;
}
.pd15 {
  padding-top: 25px;
}
.pd16 {
  padding-top: 30px;
}
.pd20 {
  padding-right: 0px;
}
.pd21 {
  padding-right: 5px;
}
.pd22 {
  padding-right: 10px;
}
.pd23 {
  padding-right: 15px;
}
.pd24 {
  padding-right: 20px;
}
.pd25 {
  padding-right: 25px;
}
.pd26 {
  padding-right: 30px;
}
.pd30 {
  padding-bottom: 0px;
}
.pd31 {
  padding-bottom: 5px;
}
.pd32 {
  padding-bottom: 10px;
}
.pd33 {
  padding-bottom: 15px;
}
.pd34 {
  padding-bottom: 20px;
}
.pd35 {
  padding-bottom: 25px;
}
.pd36 {
  padding-bottom: 30px;
}
.pd40 {
  padding-left: 0px;
}
.pd41 {
  padding-left: 5px;
}
.pd42 {
  padding-left: 10px;
}
.pd43 {
  padding-left: 15px;
}
.pd44 {
  padding-left: 20px;
}
.pd45 {
  padding-left: 25px;
}
.pd46 {
  padding-left: 30px;
}


.md10 {
  margin-top: 0px;
}
.md11 {
  margin-top: 5px;
}
.md12 {
  margin-top: 10px;
}
.md13 {
  margin-top: 15px;
}
.md14 {
  margin-top: 20px;
}
.md15 {
  margin-top: 25px;
}
.md16 {
  margin-top: 30px;
}
.md20 {
  margin-right: 0px;
}
.md21 {
  margin-right: 5px;
}
.md22 {
  margin-right: 10px;
}
.md23 {
  margin-right: 15px;
}
.md24 {
  margin-right: 20px;
}
.md25 {
  margin-right: 25px;
}
.md26 {
  margin-right: 30px;
}
.md30 {
  margin-bottom: 0px;
}
.md31 {
  margin-bottom: 5px;
}
.md32 {
  margin-bottom: 10px;
}
.md33 {
  margin-bottom: 15px;
}
.md34 {
  margin-bottom: 20px;
}
.md35 {
  margin-bottom: 25px;
}
.md36 {
  margin-bottom: 30px;
}
.md40 {
  margin-left: 0px;
}
.md41 {
  margin-left: 5px;
}
.md42 {
  margin-left: 10px;
}
.md43 {
  margin-left: 15px;
}
.md44 {
  margin-left: 20px;
}
.md45 {
  margin-left: 25px;
}
.md46 {
  margin-left: 30px;
}
